<div class="accordion-item mx-3 my-1 border border-info">
    <h2 class="accordion-header" id="heading{{id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}"
            aria-expanded="false" aria-controls="collapse{{id}}">
            View comment by {{commentor_name}} on {{date_created}}
        </button>
    </h2>
    <div id="collapse{{id}}" class="accordion-collapse collapse hide" aria-labelledby="heading{{id}}"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {{content}}
        </div>
    </div>
</div>
